
main body header #resume-header {
    text-align: center;
}

main body section.education text-align-left {
    text-align: left;
}

main body section.education text-align-right {
    text-align: right;
}

main body #profile-image {
    position: relative;
    opacity: 0.5;
    display: block;
    width: 200px;
    transition: .5s ease-out;
    backface-visibility: hidden;
}

.bold-education {
}

.sections {
    text-align: left;
    text-decoration: none;
}