:root {
    --primary: #DEEBE9;
    --secondary: #EBEFEE;
    --tertary: #658C87;
    --success: green;
    --error: red;
    --warning: yellow;
    --danger: dark red;
    --info: blue;
    --light: white;
    --dark: black;
    --font-family-san-serif: -apple-system, BlinkMacSystemFont, "Times New Roman", Times, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sidebar-width: 310px
}


/*style the main content*/
    main {
    margin-left: var(--sidebar-width); /*same as the width of the sidenav*/
    float: none;
    padding: 0px 50px 0px 10px;
}


.viewport{
    padding: inherit;
    
    
} /*may be unnecessary*/

/*style the body represents most outer limit*/
body {
    background-color: #DEEBE9;
    font-family: var(--font-family-san-serif);
    position: absolute;
    margin: 0px 500px 0px 0px;
    padding-left: 10px;
    /*image and body transition*/
    transition: .5s ease-in;
    transition-delay: 5s;
    top: .5%;
    left: .5%;
    transform: translate3d(-50%,-50%,-50);
    
}

.section {
    max-width: 80%;
}

p {
    word-spacing: normal;
    line-height: 5px;
    /*text overflow*/
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    overflow: visible;
    word-wrap: break-word;
    
    
}

#profile-image{    
    margin: 0px 50px 0px;
    
}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px; /*hide the navbar 50px outside of the top view*/
    width: 100%;
    transition: top 0.3s; /*transition effect when sliding down and up*/
}



aside {
    height: 100%;
    width: var(--sidebar-width); /*width of the sidebar-padding*/
    position: fixed;
    z-index: 1; /*stay on top in relation to other box*/
    top: 0; /*stay at the top */
    left: 0;
    background-color: darkgray;
    overflow-x: scroll; /*disable horizontal scroll*/
    padding-top: 20px;
    padding-right: 20px;
    background-size: contain; /*style profile-image*/
}

footer {
    height: 100px;
    position: inherit;
    z-index: 1; /*stay on bottom*/
    bottom: 0; /*stay at the bottom */
    right: 0;
    background-color: #8B9493;
   
}

table tr th {
    border: black;
}

#header-name{
    text-align: center;
    
}


/*TODO: Repair not rendering correctly*/
th.table-align-left {
    text-align: left
}

th.table-align-center {
    text-align: center
}


th.table-align-right {
    text-align:right
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;


    /*extra small devices phones, 600px and down*/
    @media only screen and (max-width: 600px) {
        body {
          max-width: 100px;

        }
    }
    /*small devices portrait tablets and large phones, 600px and up*/
    @media only screen and (min-width: 600px) {
        body {
           
        }
    }
    /*medium devices landscape tablets, 768px and up*/
    @media only screen and (width <= 768px) {
        body {
            
        }
    }
    /*large devices laptops/desktops, 992px and up*/
    @media only screen and (min-width: 992px) {
        body {
            
        }
    }
    /*extra large devices large laptops and desktops, 1200px and up */
    @media only screen and (min-width: 1200px) {
        body {
            
        }
    }

    @media only screen and (display-mode: minimal-ui){

    }

    @media only screen and (overflow-block: optional-paging){

    }

    @media only screen and (orientation: landscape){

    }

    @media only screen and (environment-blending: additive){
        body{
            opacity: 0.6;
        }
        
    }

    /*Monochrome Color Scheme Choices: 9CA7A5 8B9493 658C87 E6EFED EBEFEE */
    /*Monochrome Color Scheme Choices (lighter/brighter:DEEBE9	C6D0CE	90C5BE	F3FBFA	F7FBFB */